* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 1920px;
  height: 1693px;
}

header {
  width: 1920px;
  display: flex;
  justify-content: space-between;
 align-items: center;
 padding-bottom: 100px;
  
}

.right_top {
  display: flex;  
  gap: 20px;
  padding-right: 47px;  
}

.poligon {
  box-sizing: border-box;
border: 1px solid #EBEBEB;
border-radius: 10px;
}

.balance {
  display: flex;
  align-items: center;
  gap: 8px;   
border: 1px solid #EBEBEB;
border-radius: 10px;  
}

h5 {
  font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em;
color: #676767;
}

.data {
  color:#232323
}

.bug_top {
  display: flex;
  padding-bottom: 50px;
}







.bug_bug {
  padding-right: 200px;
  padding-left: 500px;
}

.bug_suggestions {
  padding-left: 34px;
  font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;
/* 2 */
color: #676767;
}

.logo2 {
  padding-right: 50px;
}

.bug_right {
  display: flex;
  gap: 20px;
}

.question {  
  padding-left: 10px;
  padding-right: 10px;
  border: 1px ;
  background: #F6F6F6;
border-radius: 6px;
}

.xesh {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px ;
  background: #F6F6F6;
border-radius: 6px;
}

.bug_list {
  display: flex;
  padding-left: 500px;
  padding-bottom: 30px;
  
  
}

.list_left {
  padding-right: 570px;
  font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
letter-spacing: 0.05em;
/* 1 */

color: #232323;
}

.list_right {
  width: 242px;
  display: flex;
  justify-content: center;  
/* 6 */
background: #FFD600;
border-radius: 16px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.05em;
font-variant: all-small-caps;
/* 1 */
color: #232323;
}

.menu {
  display: flex;
  padding-left: 500px;
  padding-bottom: 66px;
}

.choice_number {
  padding-right: 90px;
}

.choice_button {
  padding-right: 250px;
}

.choice_app {
  padding-right: 170px;
}

.choice_status {
  padding-right: 110px;
}

.content {
  width: 1920px;
  display: grid;
  grid-template-columns: 65px 260px 152px 140px 120px;
  grid-template-rows: repeat(90, 20px);
  gap: 44px;
  /* border: 1px solid #000; */
  justify-content: center;
}

.item {
  display: flex;
  /* border: 1px solid #5a1b1b; */
  height: auto;
  justify-content: flex-start;
  font-weight: 400;
/* identical to box height */
letter-spacing: 0.05em;
color: #232323;
}

.item4,
.item9,
.item14,
.item19,
.item24,
.item29,
.item34,
.item39,
.item44,
.item49,
.item54,
.item59,
.item64,
.item69,
.item74,
.item79,
.item84,
.item89 {
    justify-content: center;
    border-radius: 10px;    
}

.item4 {
  border: 1px solid #27e31a;
}

.item9 {
  border: 1px solid #f0d147;
}
